{% extends "base.html" %}

{% load static %}

{% block title %}FMBA{% endblock %}


{% block content %}

<h1>Список обращений</h1>
<table>
    <tr>
        <th>ФИО</th>
        <th>Email</th>
        <th>Тема</th>
        <th>Сообщение</th>
        <th>Дата</th>
    </tr>
    {% for feedback in page_obj %}
    <tr>
        <td>{{ feedback.full_name }}</td>
        <td>{{ feedback.email }}</td>
        <td>{{ feedback.subject }}</td>
        <td>{{ feedback.message }}</td>
        <td>{{ feedback.created_at }}</td>
    </tr>
    {% endfor %}
</table>

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
{% endif %}
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
{% endif %}

{% endblock %}  